@import 'variables';
@import 'mixins';
@import 'card';

body{
    background-color: $primary-color;
    padding: $spacing;
    min-height: 100vh;
    font-family: $primary-font;
    font-weight: lighter;
    @include flexible;
}